<h1><%= post ? '글 수정하기' : '글 작성하기' %></h1>
<form method="POST" action="<%= post ? '/community/' + post.community_post_id + '/edit' : '/community/new' %>">
  <input type="text" name="title" value="<%= post ? post.title : '' %>" placeholder="제목" required /><br/>
  <textarea name="content" placeholder="내용" required><%= post ? post.content : '' %></textarea><br/>
  
  <% if (!post) { %>
    <input type="number" name="user_id" placeholder="사용자 ID" required /><br/>
  <% } %>
  <button type="submit"><%= post ? '수정' : '등록' %></button>
</form>
<a href="/community">목록으로</a>
